%h1 Game code 

%p= 'Give this game code to all players: '
%h2= @teams.first.game.token 

%h1 Teams
%table
  %tr
    %th Name
  - for @team in @teams
    %tr
      %td= @team.name
      %td
        = render 'teams/links'
        = 'Number of players:' + @team.players.count.to_s
      

%p
  = link_to "New Team", new_game_team_path
  |
  - if @team.game.state == 'new'
    = link_to "Start Game", start_game_path(@team.game)
  - else
    = link_to 'New round', new_round_game_path(@team.game)
