%h1 Join token 

%p= 'Give this token to all players: '
%h2= @teams.first.game.token 

%h1 Teams
%table
  %tr
    %th Name
  - for @team in @teams
    %tr
      %td= @team.name
      %td
        = render 'teams/links'
        = 'Number of players:' + @team.players.count.to_s
      

%p= link_to "New Team", new_game_team_path
