= form_for [@player_round.player, @player_round] do |f|
  = f.error_messages
  %p
    = f.label :mitigation
    %br
    = f.number_field :mitigation
  %p
    = f.label :adaptation
    %br
    = f.number_field :adaptation
  %p
    = f.label :gross_national_income
    %br
    = @player.gross_national_income(@game.current_round-2)
  %p
    = f.label :residual_emissions, :disabled => true

    %br
    = @player.residual_emissions(@game.current_round-2)

  %p
    = f.submit
