= form_for [@player_round.player, @player_round] do |f|
  = f.error_messages
  %p
    = f.label :mitigation
    %br
    = f.number_field :mitigation
  %p
    = f.label :adaptation
    %br
    = f.number_field :adaptation
  %p
    = f.label :gross_national_income
    %br
    = f.text_field :gross_national_income, :disabled => true
  %p
    = f.label :residual_emissions, :disabled => true

    %br
    = f.text_field :residual_emissions, :disabled => true

  %p
    = f.submit
