%p
  Income 
  %br
  = @player.gross_national_income(@game.current_round-2)
%p
  Emissions
  %br
  = @player.residual_emissions(@game.current_round-2)

Mitigation
= form_for [@player_round.player, @player_round] do |f|
  = f.error_messages
  = f.hidden_field :mitigation, :value => @player_round.mitigation+1
  = f.submit '+1' 
= form_for [@player_round.player, @player_round] do |f|
  = f.error_messages
  = f.hidden_field :mitigation, :value => @player_round.mitigation-1
  = f.submit '-1' 

Adaptation
= form_for [@player_round.player, @player_round] do |f|
  = f.error_messages
  = f.hidden_field :adaptation, :value => @player_round.adaptation+1
  = f.submit '+1' 
= form_for [@player_round.player, @player_round] do |f|
  = f.error_messages
  = f.hidden_field :adaptation, :value => @player_round.adaptation-1
  = f.submit '-1' 
