%meta{'http-equiv'=> "Refresh", :content => "3"}

%div{:class => "value", :id => "income-now"} 
  = '%.1f' % @player.gross_national_income(@game.current_round-2) 

%div{:class => "value", :id => "emissions-now"} 
  = '%.1f' % @player.residual_emissions(@game.current_round-2) 

%div{:class => "value", :id => "mitigation"} 
  = '%.f' % @current_round.mitigation

%div{:class => "value", :id => "adaptation"} 
  = '%.f' % @current_round.adaptation

%div{:class => "forecastvalue", :id => "emissions-later"} 
  = '%.1f' % @player.residual_emissions(@game.current_round-1) 

%div{:class => "forecastvalue", :id => "warming"} 
  = '%.1f' % @team.temperature(@game.current_round-1) 

%div{:class => "forecastvalue", :id => "baseline-damage"} 
  = '%.1f' % @player.baseline_damage(@game.current_round-1)

%div{:class => "forecastvalue", :id => "residual-damage"} 
  = '%.1f' % @player.residual_damage(@game.current_round-1) 

%div{:class => "forecastvalue", :id => "income-later"} 
  = '%.1f' % @player.gross_national_income(@game.current_round-1) 

%div{:class => "yearvalue", :id => "year-now"} 
  = @game.current_year.to_s 

%div{:class => "yearvalue", :id => "year-later"} 
  = @game.forcast_year.to_s 

%div{:class => "plusminusbutton", :id => "miti-plus"} 
  = form_for [@current_round.player, @current_round] do |f|
    = f.error_messages
    = f.hidden_field :mitigation, :value => @current_round.mitigation+1
    = f.submit '+1', :type => :image, :src => path_to_image('invisible_button.png')

%div{:class => "plusminusbutton", :id => "miti-minus"} 
  = form_for [@current_round.player, @current_round] do |f|
    = f.error_messages
    = f.hidden_field :mitigation, :value => @current_round.mitigation-1
    = f.submit '-1', :type => :image, :src => path_to_image('invisible_button.png')

%div{:class => "plusminusbutton", :id => "adap-plus"} 
  = form_for [@current_round.player, @current_round] do |f|
    = f.error_messages
    = f.hidden_field :adaptation, :value => @current_round.adaptation+1
    = f.submit '+1', :type => :image, :src => path_to_image('invisible_button.png')

%div{:class => "plusminusbutton", :id => "adap-minus"} 
  = form_for [@current_round.player, @current_round] do |f|
    = f.error_messages
    = f.hidden_field :adaptation, :value => @current_round.adaptation-1
    = f.submit '-1', :type => :image, :src => path_to_image('invisible_button.png')
