- title "Player Rounds"

%table
  %tr
    %th Decade
    %th Mitigation
    %th Adaptation
    %th Gross national income
    %th Residual emissions
    %th Baseline damage
    %th Residual damage
  - for @player_round in @player_rounds
    %tr
      %td= @player_round.decade
      %td= @player_round.mitigation
      %td= @player_round.adaptation
      %td= @player_round.gross_national_income
      %td= @player_round.residual_emissions
      %td= @player_round.baseline_damage
      %td= @player_round.residual_damage
      %td
        = link_to 'Show', @player_round
        |
        = render 'player_rounds/links'

%p= link_to "New Player Round", new_player_round_path
