- title "Games"

%table
  %tr
    %th State
    %th Current round
    %th Nrounds
  - for game in @games
    %tr
      %td= game.state
      %td= game.current_round
      %td= game.nrounds
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= button_to "Delete", game, :method=>:delete, :class=>:destroy, :confirm => 'Are you sure?'

%p= link_to "New Game", new_game_path
