- title "Game"

%p
  %strong State:
  = @game.state
%p
  %strong Current round:
  = @game.current_round
%p
  %strong Nrounds:
  = @game.nrounds

%p
  = link_to "Edit", edit_game_path(@game)
  |
  = link_to 'New round', new_round_game_path(@game)
  |
  = link_to "Destroy", @game, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", games_path
  |
  = link_to "Show Teams", game_teams_path(@game)
  |
  = link_to "New Team", new_game_team_path(@game)
