- title "Team Rounds"

%table
  %tr
    %th Decade
    %th Temperature
    %th Cumulative global co2
  - for @team_round in @team_rounds
    %tr
      %td= @team_round.decade
      %td= @team_round.temperature
      %td= @team_round.cumulative_global_co2
      %td
        = link_to 'Show', @team_round
        |
        = render 'team_rounds/links'

%p= link_to "New Team Round", new_team_round_path
